<div class="main-content">
  <main>
    <section class="trip-page" data-id="{{id}}" data-date-start="{{date_start}}" data-date-end="{{date_end}}">
      <h2>{{name}} ({{date_start}} - {{date_end}})</h2>

      <div class="trip-events-and-image">
        <div class="trip-events event-list">
          {{#each events as |event|}}
          <div class="event-card">
            <h3>{{event.name}} - {{event.date}}</h3>
            <p>{{event.description}}</p>
            {{#if ../is_owner}}
            <button class="delete-button" data-action="/api/events/{{event.id}}" data-method="DELETE">DELETE</button>
            {{/if}}
          </div>
          {{else}}
          <div>This trip has no events yet</div>
          {{/each}}
          {{#if is_owner}}
          <div class="form-container">
            <h3>Create a new Event</h3>
            <form class="event-form" action="/api/events/" method="POST" enctype="multipart/form-data"
              data-trip_id="{{id}}">
              <div class="input-group">
                <label for="event-name">event name:</label>
                <input type="text" id="event-name" name="name" autocomplete="off" />
              </div>
              <div>
                <label for="event-date">event date:</label>
                <input type="text" id="event-date" name="date" autocomplete="off" />
              </div>
              <div>
                <label for="event-description">Describe the event:</label>
                <textarea id="event-description" name="description" style="resize: none;"></textarea>
              </div>
              {{!-- <div>
                <label for="event-img">event image:</label>
                <input type="file" id="event-img" name="image" accept=".jpg, .jpeg, .png, .img" />
              </div> --}}
              <div>
                <button type="submit">Create</button>
              </div>
            </form>
          </div>
          {{/if}}
        </div>
        <img src="https://www.state.gov/wp-content/uploads/2020/11/shutterstock_186964970-scaled.jpg" width="400">
      </div>
    </section>
  </main>
</div>

<script src="/js/trip.js"></script>
<script src="/js/handleDelete.js"></script>
<script src="/js/handleSubmit.js"></script>